In [1]:
import pandas as pd
import zipfile

# Get data to dataframe
zf = zipfile.ZipFile('C:/Users/olgtru/Downloads/marsrutusaraksti05_2018.zip')   
routes = (pd.read_csv(zf.open('routes.txt'))).iloc[:,[0,1,2,4]]                             # read + kolonnu filtrs
trips = (pd.read_csv(zf.open('trips.txt'))).iloc[:,[0,2,3,5,6]]                             # read + kolonnu filtrs
stop_times = (pd.read_csv(zf.open('stop_times.txt')))#.iloc[:,[0,2,3,5,6]]                  # read + kolonnu filtrs
stops = (pd.read_csv(zf.open('stops.txt'))).iloc[:,[0,2,4,5]]                               # read + kolonnu filtrs

# tabulu apvienošana
t = routes.merge(trips.set_index('route_id'), on = 'route_id', how='left').merge(stop_times.set_index('trip_id'),on='trip_id', how='left').merge(stops.set_index('stop_id'),on='stop_id',how='left')         


#t = t.loc[t['departure_time'].between('08:00:00', '09:00:00'), ['route_short_name', 'route_long_name', 'trip_headsign', 'trip_id', 'arrival_time', 'departure_time', 'stop_name', 'stop_lat', 'stop_lon']]
tf = t.loc[:, ['route_type', 'route_short_name', 'route_long_name', 'trip_headsign', 'trip_id', 'arrival_time', 'departure_time', 'stop_name', 'stop_lat', 'stop_lon']]
a = '22:34:36'
tf[(t['route_id'] =='riga_bus_3') & (t['arrival_time'] <= a) & (t['departure_time'] >= a) ]  #(tf['trip_id'] == 667) &

,route_type,route_short_name,route_long_name,trip_headsign,trip_id,arrival_time,departure_time,stop_name,stop_lat,stop_lon
22321,3,3,Daugavgrīva - Pļavnieki,Pļavnieki,817,22:30:00,22:47:00,Daugavgrīvas D/P,57.03581,24.01737

In [2]:
import numpy as np

# Get data to dataframe
zf = zipfile.ZipFile('C:/Users/olgtru/Downloads/validacijudati05_2018.zip') 
df = pd.read_csv(zf.open('ValidDati01_05_18.txt'))
data = df

# Darbs ar kolonnam
data['Parks'] = pd.to_numeric(df['Parks'].str.split(' ', expand=True)[0])
data['Marsr_FROM'] = df['MarsrNos'].str.split('-', expand=True)[0]
data['Marsr_TO'] = df['MarsrNos'].str.split('-', expand=True)[1]
data['TMarsruts'] = df['TMarsruts'].str.split(' ', expand=True)[1]
data['Datums'] = pd.to_datetime(df['Laiks']).dt.date
data['Laiks'] = pd.to_datetime(df['Laiks']).dt.time

#data['GarNr'] = pd.to_numeric(df['GarNr'])
#data['TMarsruts'] = pd.to_numeric(df['TMarsruts'])
#data['ValidTalonaId'] = pd.to_numeric(df['ValidTalonaId'])

data['type_new'] = np.where(data['TranspVeids']== 'Autobuss', 3,
                   np.where(data['TranspVeids']== 'Trolejbuss', 800,
                   np.where(data['TranspVeids']== 'Tramvajs', 900, 0)))

data[(data['TMarsruts'] == '3') & (data['TranspVeids'] == 'Autobuss')]
data

,Ier_ID,Parks,TranspVeids,GarNr,MarsrNos,TMarsruts,Virziens,ValidTalonaId,Laiks,Marsr_FROM,Marsr_TO,Datums,type_new
0,1,6,Autobuss,64311,Abrenes iela - Lāčupes kapi,39,Back,3072914,18:42:16,Abrenes iela,Lāčupes kapi,2018-01-05,3
1,2,3,Tramvajs,30144,Iļģuciems - Mīlgrāvis,5,Back,3072915,14:25:44,Iļģuciems,Mīlgrāvis,2018-01-05,900
2,3,3,Tramvajs,35196,Ausekļa iela - 'Dole',7,Back,3072916,13:57:11,Ausekļa iela,'Dole',2018-01-05,900
3,4,2,Trolejbuss,29113,Stacijas laukums -Ziepniekkalns,27,Forth,3072916,14:23:35,Stacijas laukums,Ziepniekkalns,2018-01-05,800
4,5,6,Autobuss,69548,Daugavgrīva - Pļavnieki,3,Back,3072917,22:34:36,Daugavgrīva,Pļavnieki,2018-01-05,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
217708,2600298,1,Trolejbuss,19846,Centrāltirgus - Sarkandaugava,3,Back,3523598,13:27:53,Centrāltirgus,Sarkandaugava,2018-01-05,800
217709,2600435,1,Trolejbuss,19846,Centrāltirgus - Sarkandaugava,3,Forth,3176602,16:05:44,Centrāltirgus,Sarkandaugava,2018-01-05,800
217710,2600521,1,Trolejbuss,19846,Centrāltirgus - Sarkandaugava,3,Back,3176685,13:23:23,Centrāltirgus,Sarkandaugava,2018-01-05,800
217711,2601803,1,Trolejbuss,19846,Centrāltirgus - Sarkandaugava,3,Back,3524360,20:11:16,Centrāltirgus,Sarkandaugava,2018-01-05,800
217712,2601978,1,Trolejbuss,19846,Centrāltirgus - Sarkandaugava,3,Back,3524456,09:39:28,Centrāltirgus,Sarkandaugava,2018-01-05,800

In [3]:
df_filtered = df[(data['GarNr'] == 78637) & (data['Virziens'] == 'Back')]
#df_filtered = df[(data['ValidTalonaId'] == 3599388)]
df_filtered

table = pd.pivot_table(data, values='Ier_ID', index=['ValidTalonaId'],
                        columns=['Virziens'],  aggfunc="count")

table.sort_values(by=['Back'], ascending=False)

Virziens       Back  Forth
ValidTalonaId
3118217        14.0   15.0
3131887        12.0    9.0
3150269        12.0   11.0
3175176        12.0   14.0
3155415         9.0    2.0
...             ...    ...
3520126         NaN    1.0
3520211         NaN    1.0
3520250         NaN    1.0
3520959         NaN    1.0
3522155         NaN    1.0

[98895 rows x 2 columns]

In [7]:
df_filtered = data[(data['ValidTalonaId'] == 3520126) ]
df_filtered

,Ier_ID,Parks,TranspVeids,GarNr,MarsrNos,TMarsruts,Virziens,ValidTalonaId,Laiks,Marsr_FROM,Marsr_TO,Datums,type_new
217691,2593618,1,Trolejbuss,19846,Centrāltirgus - Sarkandaugava,3,Forth,3520126,13:57:14,Centrāltirgus,Sarkandaugava,2018-01-05,800

In [118]:
import folium as f
map = f.Map()
#map
f.Marker([56.94577,24.10541], tooltip = 'TTTT').add_to(map)
map